## 1)

In [1]:
t1=(0,1,9)
t1

(0, 1, 9)

## 2)

In [2]:
tuple1=(2,"ABC",9.92)
tuple1

(2, 'ABC', 9.92)

## 3)

In [4]:
tuplen=(2,7,8,9)
print(tuplen[-1])

9

## 4)

In [11]:
tuple1=(2,"ABC",9.92)
n1,n2,n3=tuple1
print(n1,n2,n3)

2 ABC 9.92

## 5)

In [23]:
tuple1=(2,"ABC",9.92)
tuple2=tuple1+(1,"badly")
print(tuple2[4])

badly

## 6)

In [29]:
t1=("h","e","l","l","o")
str1=''.join(t1)
print(str1)

hello

## 7)

In [31]:
tuple1=(1,2,3,4,5,6)
print(tuple1[3])
print(tuple1[4])

4
5

## 9)

In [33]:
tuple1=("john","shelby","boby","john")
tuple1.count("john")

2

## 10)

In [35]:
tuple1=("a","b","c","d","e")
"c" in tuple1

True

## 11)

In [37]:
list1=[1,2,3,4,5]
tuple1=tuple(list1)
type(tuple1)

tuple

## 12)

In [38]:
tuple1=(0,"john",8,1)
list1=list(tuple1)
list1.remove(8)
tuple1=tuple(list1)
print(tuple1)

(0, 'john', 1)

## 13)

In [39]:
tuple1=("john","shelby","selena","marcus")
print(tuple1[1:4])

('shelby', 'selena', 'marcus')

## 14)

In [47]:
tuple1=("john","shelby","selena","marcus")
print(tuple1.index("shelby"))

1

## 15)

In [48]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
len(genres_tuple)

8

## 16)